*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: 'Quicksand', sans-serif;
}
a{
  text-decoration: none !important;
}
h1,h2,h3,h4,h5,h6{
  color: #6e3607 !important;
}